.navbar {
  background-color: $nav-gray;
  height: 60px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
  a {
    font-weight: bold;
  }
  .container {
  display: flex;
  justify-content: space-between;
    a {
      color: $dark-gray;
      &:hover {
        text-decoration: none;
        color: rgb(20, 20, 20);
      }
    }
  }
}


.navbar-logo {
  img {
    height: 40px;
  }
}

.navbar-links {
  a {
    margin-left: 15px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
